  <ul class="book-info">
    <% @book_info.each do |info| %>
    <li class="title"><%= info.title %></li>
    <li class="author"><%= info.author %></li>
    <li class="publisher"><%= info.publisher %></li>
  </ul>
  <% end %>


<section class="reviews">
  <h3>This book has <%= @number %> reviews from the New York Times </h3>
  <% @reviews.each do |review| %>
    <p class="review-text"><%= review.summary %></p>
  <% end %>
</section>
